body{

    background-color: azure;
}

.div1{
    padding: 1px;
    margin: 3rem;
    border: solid 2PX rgb(0, 0, 0);
    text-align: center;}

 button {
    background-color: cadetblue;
    margin-bottom: 1px;
     padding: 0.5px;}